@import "theme";

.logo-container {
  position: absolute;
  top: 0;
  left: 0;
  background-color: $bgDark;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  z-index: 1;
}

.logo {
  margin-top: 0.5em;
  margin-left: 0.7em;
  color: $accent;
  font-family: $themeFont;
  font-size: $fontSizeDefault * 2.5;
  font-weight: 800;
  font-style: normal;
  text-align: center;
  @include clickable;
}