@import "theme";

.navbar {
  position: relative;
  background-color: $bgDark;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.navbar-item {
  margin-top: 1.4em;
  color: $accent;
  font-family: $themeFont;
  font-size: $fontSizeDefault * 1.5;
  font-weight: 500;
  font-style: normal;
  text-align: center;
  @include clickable;
}

.navbar-margin:not(:last-child){
  margin-right: 2em;
}
