@font-face {
    src: url(../fonts/Overpass-Regular.ttf);
    font-family: 'Overpass';
}


/* Theme Colors */
  $accent: #64DFDF;
  $bgDark: #010d1d;
  $bgMedium: #023E8A;
  $bgLight: #0077B6;
  $bgLighter: #00B4D8;
  $vignette: #380953;
  $vignetteSecondary: #1D0733;
  
  $textColor: var(--text-color);
  
  /* Font stuff */
  $themeFont: 'Overpass';
  $rootFontSize: 18px; // this is rem
  
  $fontSizeDefault: 1rem;
  $fontSizeAnnotation: 0.7rem; // 14px
  $fontSizeCaption: 1.66rem; // 30px
  $fontSizeNavBarItem: 1.7rem; // 31px
  $fontSizeButton: 1.11rem; // 20px
  
  
  /* Our standard drop-shadow */
  $dropShadow: 0 0.25em 0.25em rgba(0, 0, 0, 0.25);
  
  /* some common css stuff */
  @mixin fullscreen {
    width: 100vw;
    height: 100vh;
    margin: 0;
  }
  
  @mixin fillCenter {
    width: 100%;
    height: 100%;
    @include center;
  }
  
  @mixin center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  @mixin clickable {
    cursor: pointer;
    transition: 0.3s;
    user-select: none;
    outline: none;
    &:hover {
      filter: brightness(120%);
    }
    &:active {
      transform: scale(0.95);
    }
  }
  
  ::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
  }
  ::-webkit-scrollbar-track {
    background-color: $vignetteSecondary;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 0.25rem;
    background-color: $accent;
  }
  
  .disabled {
    opacity: 0.6 !important;
    cursor: not-allowed !important;
  
    &:hover {
      filter: none !important;
      transform: none !important;
    }
  }