@import "theme";

// ----------- General ----------- //

body,html {
  margin: 0;
  padding: 0;
  max-width: 100%;
}

body {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: scroll;
}

img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

p {
  margin: 0.5em 0 0 0;
}

.background {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  overflow: hidden;
  background-color: $bgDark;
  pointer-events: none;
}

.App {
  position: relative;
  text-align: center;
  font-family: $themeFont;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.app-body {
  overflow-x: hidden;
  position: relative;
  width: 100%;
  height: auto;
  background-color: $bgDark;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: $themeFont;
  font-size: $fontSizeCaption;
  color: $accent;
}

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 8%;
  padding-bottom: 12%;
  width: 90%;
  overflow: hidden;
}

.point-to-first {
  left: 42%;
  bottom: 7.5%;
}

.point-to-second {
  left: 48.7%;
  bottom: 8%;
}

.point-to-third {
  left: 55.2%;
  bottom: 7.3%;
}

.first-text {
  left: 43.7%;
  bottom: 10.5%;
}

.second-text {
  left: 48.7%;
  bottom: 13.5%;
}

.third-text {
  left: 54%;
  bottom: 11%;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes disappear {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.appear {
  animation: appear 0.25s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.disappear {
  animation: disappear 0.25s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.idle {
  opacity: 0;
}

.arrow-container-left {
  position: fixed;
  width: 60px;
  height: 60px;
  z-index: 2;
  float: left;
}

.arrow-left {
  transform: rotate(-90deg);
  width: 100%;
  height: 100%;
  opacity: 0;
  float: left;
}

.arrow-container-straight {
  position: fixed;
  width: 50px;
  height: 50px;
  z-index: 2;
  float: left;
}

.arrow-straight {
  transform: rotate(180deg);
  width: 100%;
  height: 100%;
  opacity: 0;
  float: left;
}

.arrow-container-right {
  position: fixed;
  width: 60px;
  height: 60px;
  z-index: 2;
  float: left;
}

.arrow-right {
  transform: rotate(270deg);
  width: 100%;
  height: 100%;
  opacity: 0;
  float: left;
}

.arrow-text {
  position: fixed;
  z-index: 2;
  opacity: 0;
  font-size: $fontSizeDefault;
  color: $accent;
  display: flex;
  flex-direction: column;
  float: left;
}

// ----------- GalleryView ----------- //

.imagegrid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
  align-items: flex-start;
  padding-top: 8%;
  padding-bottom: 18%;
  width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.image-container {
  width: 500px;
  height: 500px;
  padding: 10px;
}

// ----------- HomeView ----------- //

.profile-picture {
  border-radius: 50%;
  width: 400px;
  height: 400px;
  margin-bottom: 1.5em;
}

// ----------- VideosView ----------- //

.video-player {
  position: relative;
  width: 59.4vw;
  height: 66vh;
}

.react-player-wrapper {
  position: relative;
  padding-top: 56.25%;
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}