@import "theme";

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  background-color: $bgDark;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.navbar-item {
  width: 5em;
  height: 2.2em;
  border-radius: 0.2em;
  margin-top: 1.15em;
  color: $accent;
  font-family: $themeFont;
  font-size: $fontSizeNavBarItem;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  @include clickable;
}

.active {
  background-color: $accent;
  color: $bgDark;
}
